<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">

            <form action="#" th:action="@{/}" method="get">
                <h3>Welcome</h3>
                <p>You are 30 seconds away from becoming part of a studio!</p>
                <button class="w-100 btn btn-lg btn-primary" type="submit" value="Login">Login</button>
            </form>

        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Register</h3>
                    <form autocomplete="off" action="#" th:action="@{/registration}"
                          th:object="${user}" method="post" class="form-horizontal"
                          enctype="multipart/form-data">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="*{firstName}"
                                           placeholder="First Name *"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="*{lastName}"
                                           placeholder="Last Name *"/>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" th:field="*{password}"
                                           placeholder="Password *"/>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" th:field="*{email}"
                                           placeholder="Your Email *"/>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlFile1">Add a photo</label>
                                    <input type="file" name="image" class="form-control-file" id="exampleFormControlFile1" accept="image/png, image/jpeg">
                                </div>
                            </div>
                            <div class="col-md-6" align="center">
                                <input type="submit" class="btnRegister" value="Register"/>
                            </div>
                        </div>
                        <h2><span class="text-success" th:utext="${successMessage}"></span></h2>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>