<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30">
    <Appenders>
        <RollingRandomAccessFile name="logging-file" fileName="logs/server.log" filePattern="logs/server-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{ISO8601} %p %c{1} - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />

            </Policies>
            <DefaultRolloverStrategy max="2"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="logging-file"/>
        </Root>
    </Loggers>
</Configuration>
